body {
	background-color: #f8efdf;
	font-family: "Lucida Grande", Verdana, sans-serif;
	margin:0; 
	padding:0;
}
header {
	background-color:#d10101;
	position: relative;
	width: 100%;
	border-top: #262626 solid 10px;
	color: white;
}

#container{
	margin: 0 auto;
	width: 1000px;
	height:auto;
}
.banner {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
	line-height: 100px;
	position: relative;
	display: flex;
	align-items: center;

}
.banner img{
	padding-right: 10px;
	height: 170px;
}

.navbar {
	width: 100%;
	position: absolute;
	align-items: center;
	font-size: 12px;
	font-weight: bolder;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	background-color: #262626;
	height:32px;
	z-index:999;
}
.navbar ul{
	margin: 0px;
	padding-left: 0px;
}
.navbar li{
	list-style-image: none;
	list-style-type: none;
	background-color: #262626;
	float:left;
	text-align: center;
	border-radius: 5px;
}
.navbar li li{
	float:none;
	border-style:none;
}
.navbar li a {
	color: white;
	text-decoration: none;
	margin: 0px;
	display: block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CCC;
	border-radius: 5px;
}
.navbar li:hover ul {
	display:block;
}

.navbar ul ul {
	position:absolute;
	display:none;
	margin: auto;
	padding-left: 0px;
}
.navbar ul ul li{
	width:100%;
}
.navbar li a:hover {
	background-color: #0099CC;
}
.border_first{
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #d10101;
}
#main {
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	position:relative;
}

.imagehV{
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	max-width:100%;
}

.imagehS{
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	max-width:100%;
}

.imagehG{
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	max-width:100%;
}

.imagehB{
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	max-width:100%;
}

.text {
	width:100%;
	text-align:center;
	padding-top:50px;
}


@font-face{
	font-family:myFirstFont;
	src:url('../font/Attackofthecucumbers.ttf');
	font-weight:bold;
}

@font-face{
	font-family:mySecondFont;
	src:url('../font/Attackofthecucumbers.ttf');
	font-weight:bold;
}


h1{
	font-family:myFirstFont;
	font-size:xx-large;
	text-align:center;
}

h2 {
	font-family:myFirstFont;
	font-size:x-large;
	text-align:center;
}

h3 {
	font-family:”myThirdFont”;
	font-size:x-large;
	text-align:center;
}

h4 {
	font-family:myForthFont;
	font-size:x-large;
	text-align:center;
}

h5 {
	font-family:myFifthFont;
	font-size:x-large;
	text-align:center;
}
p {
	text-align:left;
}



footer {
	width: 100%;
	position:relative;
	background-color: #262626;
	padding-top: 30px;
	padding-bottom: 20px;
}
.copyright {
	text-align: center;
	font-size:small;
	color: white;
	margin:0px;
	top: 0px;
}
.copyright a {
	color: white;
	text-decoration: none;
}
.copyright a:hover{
	background-color: #0099CC;
}